---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="blog.dotMavriQ" description="Personal site of dotMavriQ">
  <div class="flex flex-col items-center justify-center min-h-[calc(100vh-5.5rem)] text-center select-none relative pb-4">
    <figure class="relative mb-4 drop-shadow">
      <img src="/solidsnakegbc.gif" alt="Solid Snake running" class="mx-auto w-[210px] sm:w-[250px] md:w-[280px] aspect-[4/3] object-contain rounded filter invert contrast-105" decoding="async" />
      <figcaption class="sr-only">Solid Snake pixel animation</figcaption>
    </figure>
    <div class="mt-8 flex flex-col items-center gap-5">
      <div class="flex flex-wrap justify-center gap-5">
        <a href="/portfolio" class="btn-mat mat-yellow">View Portfolio</a>
        <a href="/blog" class="btn-mat mat-blue accent-raise">Read Blog</a>
      </div>
      <div class="flex flex-wrap justify-center gap-4">
        <a href="/about" class="btn-mat mat-orange">About Me</a>
        <a href="/cv" class="btn-mat mat-green">My CV</a>
        <a href="/contact" class="btn-mat mat-red">Contact</a>
      </div>
    </div>
  </div>
</BaseLayout>
